@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;
}
#navBar {
    /*background-color: #3F51B5;*/
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
}

#navBar ul li {
    list-style: none;
    float: right;
}

#navBar ul li a{
    color: #FFFFFF;
    margin: 10px;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: bold;
}

#navBar ul li a:hover{
    background-color: #03A9F4;

}

.section{
    padding-top: 100px;
}

.home{
    border:1px solid red;
    height: 700px;
    background-image: url('../img/fondo_1.jpg');
    background-size: 100% 100%;
    color: #FFFFFF;
}

.jumbotron{
    background-color: rgba(255, 255, 255, 0.8);
    color:#000000;
}